/*공통*/
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.inner {
    width: 1280px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a{text-decoration: none;}


/*위상단*/
.top_header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    font-size: 13px;
}


.top_header > .inner:after {
    display: inline-block;
    content: "";
    clear: both;
}

.site {
    width: 274px;
    float: left;
    color: #6e6e6e;
    font-weight: bold;
}

.site > li {
    float: left;
    width: 32.9%;
    background-color: #f0f0f0;
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.site:after {
    display: inline-block;
    content: "";
    clear: both;
}

.site > li:nth-child(1) {
    background-color: #212121;
    color: #fff;
}

.site > li:nth-child(3) > select {
    width: 100%;
    height: 38px;
    border: none;
    background-color: #f0f0f0;
    color: #6e6e6e;
    font-weight: bold;
}

.util {
    width: 250px;
    float: right;
}

.util > li {
    width: 33.3%;
    float: left;
}

.util:after {
    display: inline-block;
    content: "";
    clear: both;
}

.util > li:before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e1e1;
    margin: 0 15px 0 0px;
}

.util > li:nth-child(1):before {
    display: none;
}

.util > li:nth-child(1) {
    width: 28%;
    padding-left: 5%;
}


/*아래상단*/

.bottom_header {
    width: 100%;
    height: 92px;
    line-height: 92px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    font-size: 15px;
}

.bottom_header > .inner:after {
    display: block;
    content: "";
    clear: both;
}

/*메뉴*/
.menu {
    width: 372px;
    float: left;
}

.menu > li {
    float: left;
    width: 22%;
    padding: 0 2%;
	position: relative
    
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}

.menu > li:nth-child(1) {
    padding: 0;
}

.menu > li:nth-child(4) {
    padding: 0;
}

.menu > li > a{
    font-size: 20px;
color: #000;}
.menu > li > a:hover{font-weight: bold;}

/*하위메뉴*/
.menu > li > .submn{position: absolute; top: 91px; opacity: 0; border: 1px solid #ccc; width: 100%}

.menu > li:hover .submn{opacity: 1}

.menu > li > .submn>li{
	width: 100px; height: 95px;
	background-color: #fff;
	text-align: center; line-height: 95px;
	position: absolute; z-index: 100;}
.menu > li > .submn>li>a{display: block; width: 100px; height: 95px; font-size: 20px; color: #000;}
.menu  > li > .submn>li>a:hover{display: block; width: 100px; height: 95px; background-color: #ccc;}

/*로고*/
.logo {
    position: absolute;
    width: 212px;
    left: 15%;
    right: 15%;
    margin: 0 auto;
    top: 20%
}

/*서브메뉴*/
.sub_menu {
    float: right;
    
}

.sub_menu:after {
    display: nline-block;
    content: "";
    clear: both;
}

.sub_menu > .side {
    width: 260px;
    float: left;
}

.sub_menu > .side > li {
    float: left;
    padding-right: 30px;
    font-size: 20px;
	position: relative;
}


.sub_menu > .side > li > a{
    font-size: 20px;
color: #000;}
.sub_menu > .side > li > a:hover{font-weight: bold;}

/*서브하위메뉴*/
.sub_menu > .side > li > .submn{position: absolute; top: 91px; opacity: 0; border: 1px solid #ccc;}

.sub_menu > .side > li:hover .submn{opacity: 1}

.sub_menu > .side > li > .submn>li{
	width: 100px; height: 95px;
	background-color: #fff;
	text-align: center; line-height: 95px;
	position: absolute; z-index: 100;}
.sub_menu > .side > li:last-child >.submn>li {width: 130px;}
.sub_menu > .side > li > .submn>li>a{display: block; width: 100px; height: 95px; font-size: 20px; color: #000;}
.sub_menu > .side > li > .submn>li>a:hover{display: block; width: 100px; height: 95px; background-color: #ccc;}
.sub_menu > .side > li:last-child >.submn>li:hover {width: 130px; background-color: #ccc;}

.sub_menu > .search {
    float: left;
    padding-right: 30px;
}

.sub_menu > .m_menu {
    float: left;
}


/*컨텐츠메뉴*/
#con_mn{width: 100%}
#con_mn>.inner{width: 1280px; height: 45px;}
#con_mn>.inner> ul{}
#con_mn>.inner> ul>li{display: inline-block; border-right: 1px solid #ccc; width: 90px; height: 45px; text-align: center; position: relative}

#con_mn>.inner> ul>li:first-child{border-left: 1px solid #ccc;}
#con_mn>.inner> ul>li>a> img{margin: 0 10px;}

#con_mn>.inner>ul>li> a{font-size: 15px; color: #000; line-height: 45px;}
#con_mn>.inner> ul>li:hover .submn{opacity: 1}

/*컨텐츠하위메뉴*/
#con_mn>.inner>ul>li>.submn{position: absolute; top: 45px; opacity: 0; border: 1px solid #ccc;}
#con_mn>.inner>ul>li>.submn>li{ width: 90px; height: 45px;
	text-align: center; line-height: 45px;
	position: absolute; z-index: 100;
background-color: #fff;}
#con_mn>.inner>ul>li>.submn>li>a{color: #000;}

/*메인이미지*/
#mainimg {
    width: 100%;
    height: 640px;

    background-image: url(../images/subimg.jpg);
    background-size: cover;
    background-position: center center;
	
	position: relative;
}

/*전화예약*/
#main_txt{}
#main_txt>.txt_box{
    width: 460px; height: 100px;

position: absolute; top: 500px; left: 300px; }
#main_txt>.txt_box:after{content: ""; display: block; clear: both;}
#main_txt>.txt_box>img{float: left;
    }
#main_txt>.txt_box>p{display: inline-block;
font-size: 30px; font-weight: bold; line-height: 80px; margin-left: 10px;}
#main_txt>.txt_box>span{display: block;
margin-left: 110px;
font-size: 15px;}


/*전화예약-메인이미지 빼내서 위치잡은거
#main_txt{width: 1280px; margin:0 auto;}
#main_txt>.txt_box{
    width: 460px; height: 100px;
     margin:0 auto;}
#main_txt>.txt_box:after{content: ""; display: inline-block; clear: both;}
#main_txt>.txt_box>img{float: left;
    }
#main_txt>.txt_box>p{display: inline-block;
font-size: 30px; font-weight: bold; line-height: 80px; margin-left: 10px;}
#main_txt>.txt_box>span{display: block;
margin-left: 110px;
font-size: 15px;}
*/


/*인포박스*/

.info_box{width: 1280px; height: 250px; margin: 0 auto; /*background-image: url(../images/subcon_bg.jpg); background-repeat:  no-repeat; background-position: cover;*/
margin-top: 100px;}

.info_box:after{content: ""; display: block; clear: both;}

.info_box>.box{width: 250px; height: 200px;
    float: left;
    text-align: center;
    margin: 0px 0 0 5px;}


.info_box>.box>h4{font-size: 25px; color: #000;
    text-align: center; margin: 10px 0 20px 0 ;
}
.info_box>.box>p{font-size: 15px; color: #333;
    text-align: center; line-height: 25px;}





/*시간표*/

.time_box{width: 1280px; height: 580px;
    margin: 0 auto; margin-top: 75px;}

.time_box>h3{font-size: 25px; color: #000;
    margin-bottom: 20px;}
.time_box>p{font-size: 15px; color: #ff0000; 
    float: left;
    margin-top: 20px;}
.time_box:after{content: ""; display: block; clear: both;}

.f_box,.b_box{width: 48%; height: 415px; 
    float: left; 
    text-align: center;
    border: 1px solid #333;
    box-sizing: border-box;
    margin-right: 40px;
    }
.b_box{margin-right: 0;}

.time_box img{margin: 30px;}
.time_box h4{font-size: 25px; color: #000; }
.time_box .line{width: 20px; height: 2px; background-color: #000; margin: 30px auto;}
.time_box>.f_box,.b_box p{font-size: 15px; color: #000;}
.time_box .txt_box{width: 210px; height: 60px; background:#3399cc; line-height: 60px;
    margin: 20px auto;}
.time_box .txt_box a{font-size: 20px; color: #fff;}

/*공지사항*/
.board_set {
    width: 1280px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    font-size: 14px;
    color: #000100;
}

.board_set > h2 {
    width: 136px;
    float: left;
    font-size: 15px;
    font-weight: bold;

}

.board_set > p {
    float: left;
    font-size: 15px;
}

.board_set > ul {
    float: right;
}

.board_set:after {
    content: "";
    display: block;
    clear: both;
}

.board_set > ul > li {
    float: left;
    font-size: 15px;
}

.board_set > ul:after {
    content: "";
    display: block;
    clear: both;
}

.board_set > ul > li.date {
    color: #979996;
}

.board_set > ul > li.more {
    width: 110px;
    text-decoration: underline;
    text-align: right;

}

/*하단*/
#footer {
    width: 100%;
    height: 295px;
    background-color: #1e1f21;
}


/*하단위*/
.top_footer {
    height: 73px;
    line-height: 73px;
    border-bottom: 1px solid #303133;
    font-size: 12px;
    color: #5e605d;
}

.top_footer > .inner > ul > li {
    float: left;
    padding-right: 32px;
    font-size: 15px;
}

.top_footer > .inner > ul:after {
    content: "";
    display: block;
    clear: both;
}

.top_footer > .inner > ul > li:nth-child(2) {
    color: #fff;
}


/*하단아래*/

.bottom_footer {
    color: #999;
    margin-top: 42px;
    font-size: 8px;
}

.bottom_footer > .inner > .f_logo,
.copyright {
    float: left;
}

.bottom_footer > .inner > .info {
    float: right;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

.bottom_footer > .inner:after {
    content: "";
    display: block;
    clear: both;
}


.bottom_footer > .inner > .f_logo {
    padding-right: 54px;
}

.bottom_footer > .inner > .copyright > ul > li {
    position: relative;
    padding-left: 150px;
    font-size: 14px;
    margin-bottom: 10px;
}

.bottom_footer > .inner > .copyright > ul > li > span {
    position: absolute;
    left: 0;
}

.bottom_footer > .inner > .copyright > p {
    margin-top: 36px;
    color: #9a9a9c;
    font-size: 14px;
}

.bottom_footer > .inner > .info > ul:after {
    content: "";
    display: block;
    clear: both;
}

.bottom_footer > .inner > .info > ul > li {
    float: left;
}

.bottom_footer > .inner > .info > ul > li:before {
    content: "|";
    display: block;
    padding: 0 10px;
    color: #3a3b3d;
}

.bottom_footer > .inner > .info > ul > li:first-child:before {
    content: "";
}

.bottom_footer > .inner > .info > ul > li > span {
    font-size: 15px;
    color: #5e605d;
    margin-right: 5px;
}
